.app {
  height: 100vh;

  .app-container {
    min-height: 95%;
    background-color: #0000001a;
  }
}
.user-msg {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 331px;
  height: 103px;
  padding: 40px;
  background-color: #ccc2be70;
  border: solid 3px #3f51b533;
  top: 15px;
  right: 15px;
  .close-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #00000080;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}
